# Python
__pycache__/
*.py[cod]
*.class
.env
.env.local
node_modules/
dist/
*.db
.pytest_cache/
!gait-abnormality-system/models/*.pkl
!gait-abnormality-system/models/*.json
!models/*.pkl
!models/*.json
